<div class="sidebar">

    <div class="profile-section">
        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile">
        <h2>Abdu Rahman</h2>
        <p>(AI | Data | Analytics)</p>
    </div>

    <div class="menu-section">
        <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
            <li>
    <a href="/uploads">
        <i class="fa-solid fa-images"></i> Upload Gallery
    </a>
</li>
            <li><a href="/about"><i class="fa-solid fa-brain"></i> About Model</a></li>
        </ul>
    </div>
<div class="connect-section">

    <h3>Connect With Me</h3>

    <div class="social-icons">

        <a href="https://www.youtube.com/c/EasyEnglishCenterEEC"
           target="_blank"
           title="YouTube">
            <i class="fab fa-youtube"></i>
        </a>

        <a href="https://www.facebook.com/easyenglishcenter.eec/"
           target="_blank"
           title="Facebook Page">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="https://facebook.com/abdurahman.eec2021"
           target="_blank"
           title="Personal Facebook">
            <i class="fab fa-facebook-messenger"></i>
        </a>

        <a href="https://github.com/abdurahman2027"
           target="_blank"
           title="GitHub">
            <i class="fab fa-github"></i>
        </a>

        <a href="https://linkedin.com/in/abdu-rahman-1b1077170?u"
           target="_blank"
           title="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>

    </div>

</div>
</div>